[Desktop Entry]
Name=Frosted_Leaf
X-KDE-PluginInfo-Name=Frosted_Leaf
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
