[Desktop Entry]
Name=Super_sunset_in_Princes_Pier
X-KDE-PluginInfo-Name=Super_sunset_in_Princes_Pier
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
