[Desktop Entry]
Name=Night_swimming
X-KDE-PluginInfo-Name=Night_swimming
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
