[Desktop Entry]
Name=Fire_Sunset
X-KDE-PluginInfo-Name=Fire_Sunset
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
