[Desktop Entry]
Name=Sunset_Reflection_Ocean
X-KDE-PluginInfo-Name=Sunset_Reflection_Ocean
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
