[Desktop Entry]
Name=Yellowstone_Under_Canvas
X-KDE-PluginInfo-Name=Yellowstone_Under_Canvas
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
