[Desktop Entry]
Name=Scenery_over_sea_with_the_setting_sun
X-KDE-PluginInfo-Name=Scenery_over_sea_with_the_setting_sun
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
