[Desktop Entry]
Name=Street_Lights_Twilight_Sky
X-KDE-PluginInfo-Name=Street_Lights_Twilight_Sky
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
