[Desktop Entry]
Name=Autumn_Wood
X-KDE-PluginInfo-Name=Autumn_Wood
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
