[Desktop Entry]
Name=Grjotagja_Cave
X-KDE-PluginInfo-Name=Grjotagja_Cave
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
