[Desktop Entry]
Name=Sunrise_at_Lake_Tahoe
X-KDE-PluginInfo-Name=Sunrise_at_Lake_Tahoe
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
