[Desktop Entry]
Name=Magnificent_Lanscape
X-KDE-PluginInfo-Name=Magnificent_Lanscape
X-KDE-PluginInfo-Author=Eric Turgeon
X-KDE-PluginInfo-Email=ericturgeon@ghostbsd.org
X-KDE-PluginInfo-License=LGPLv3
